* {
    box-sizing: border-box;
}
body {
    margin: 0%;
}

.logo {
    width: 25%;
    height: auto;
}
.heading {
    text-align: center;
    margin-top: -9%;
    font-size: large;
}

#insta_link {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
